body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 226, 159);
    margin: 0;
}

h1 {
    text-align: center;
}

.form_row,
.name,
.gender {
    display: flex;
    margin: 20px 0;
    height: 30px;
}

.form_row p,
.name p,
.gender p,
.form_row_img p,
.form_row_text p {
    width: 200px;
    margin: 0 20px 0 0;
}

.form_row input {
    height: 20px;
    width: 400px;
}

label {
    margin: auto 0;
}

span {
    margin: auto 10px;
}

.error,
.error1,
.error2,
.error3,
.error4 {
    text-align: center;
    color: red;
}

.emial_color {
    color: blue;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.submit {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: orange;
    border: none;
    margin-bottom: 20px;
}

.submit_re {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: orange;
    background-color: white;
    border: orange solid 1px;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: orange;
}

header a {
    border: black solid 1px;
    width: 130px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    margin-right: 20px;
}

.login_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: orange;
}

.login_header p {
    margin-left: 20px;
}

/* ログイン画面 */
.forget_pass {
    text-decoration: none;
    color: blue;
}

/* トップ画面 */
.buttons {
    display: flex;
}

/* 商品登録 */
#category_id,
#subcategory_id {
    width: 150px;
}

#subcategory_id {
    margin-left: 30px;
}

#image_1,
#image_2,
#image_3,
#image_4 {
    display: none;
}

.upload_button {
    width: 150px;
    height: 50px;
    color: orange;
    border: orange solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: white;
}

.form_row_img {
    display: flex;
}

.img_block {
    display: flex;
    flex-direction: column;
}

.form_row_img label {
    margin: 30px 0;
    text-align: center;
}

.form_row_text {
    display: flex;
    margin: 20px 0;
}

/* 商品一覧 */
.serach_button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: black;
    background-color: white;
    margin-bottom: 20px;
}

#search_form {
    border: black solid 1px;
    margin-top: 30px;
    padding: 30px;
    background-color: white;
}

.list {
    border-top: black solid 1px;
    margin: 30px 0;
}

.list_row {
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.list_row img,
.list_row .empty {
    margin: auto 0;
}

.information {
    display: flex;
    align-items: baseline;
    width: 300px;
    justify-content: flex-start;
    flex-direction: column;
}

.information p {
    background-color: white;
    border: black solid 1px;
    width: 200px;
}

.information a {
    pointer-events: none;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.detail {
    display: flex;
    align-items: end;
}

.detail a {
    display: flex;
    text-decoration: none;
    width: 100px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 255);
    color: white;
    border-radius: 10px;
    border: blue solid 2px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    justify-content: flex-end;
}
ul.pagination {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 250px;
}

li span {
    margin: 0;
}