body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 226, 159);
    margin: 0;
}

h1 {
    text-align: center;
}

.form_row,
.name,
.gender {
    display: flex;
    margin: 20px 0;
    height: 30px;
}

.form_row p,
.name p,
.gender p,
.form_row_img p,
.form_row_text p {
    width: 200px;
    margin: 0 20px 0 0;
}

.form_row input {
    height: 20px;
    width: 400px;
}

label {
    margin: auto 0;
}

span {
    margin: auto 10px;
}

.error,
.error1,
.error2,
.error3,
.error4 {
    text-align: center;
    color: red;
}

.emial_color {
    color: blue;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.submit {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: orange;
    border: none;
    margin-bottom: 20px;
}

.submit_re {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: orange;
    background-color: white;
    border: orange solid 1px;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: orange;
}

header a {
    border: black solid 1px;
    width: 130px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    margin-right: 20px;
}

.login_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: orange;
}

.login_header p {
    margin-left: 20px;
}

/* ログイン画面 */
.forget_pass {
    text-decoration: none;
    color: blue;
}

/* トップ画面 */
.buttons {
    display: flex;
}

/* 商品登録 */
#category_id,
#subcategory_id {
    width: 150px;
}

#subcategory_id {
    margin-left: 30px;
}

#image_1,
#image_2,
#image_3,
#image_4 {
    display: none;
}

.upload_button {
    width: 150px;
    height: 50px;
    color: orange;
    border: orange solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: white;
}

.form_row_img {
    display: flex;
}

.img_block {
    display: flex;
    flex-direction: column;
}

.form_row_img label {
    margin: 30px 0;
    text-align: center;
}

.form_row_text {
    display: flex;
    margin: 20px 0;
}

/* 商品一覧 */
.serach_button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: black;
    background-color: white;
    margin-bottom: 20px;
}

#search_form {
    border: black solid 1px;
    margin-top: 30px;
    padding: 30px;
    background-color: white;
}

.list {
    border-top: black solid 1px;
    margin: 30px 0;
}

.list_row {
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.list_row img,
.list_row .empty {
    margin: auto 0;
}

.information {
    display: flex;
    align-items: baseline;
    width: 300px;
    justify-content: flex-start;
    flex-direction: column;
}

.information p {
    background-color: white;
    border: black solid 1px;
    width: 200px;
}

.information a {
    text-decoration: none;
    color: blue;
    margin-top: 20px;
}

.detail {
    display: flex;
    align-items: end;
}

.detail a {
    display: flex;
    text-decoration: none;
    width: 100px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 255);
    color: white;
    border-radius: 10px;
    border: blue solid 2px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

ul.pagination {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 250px;
}

li span {
    margin: 0;
}

/* 商品詳細 */
.detail_row {
    display: flex;
    align-items: center;
}

.detail_row .date {
    margin-left: 50px;
}

.detail_row img {
    margin-right: 30px;
}

.detail_row_colum {
    display: flex;
    flex-direction: column;
}

.detail_row_colum a {
    text-decoration: none;
    color: blue;
}

.detail_button {
    display: flex;
    justify-content: flex-end;
}

.detail_button .button,
.detail_button button {
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 255);
    color: white;
    border-radius: 10px;
    border: blue solid 2px;
    margin: 20px;
}

.detail_button a {
    display: flex;
    text-decoration: none;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(100, 100, 255);
    border-radius: 10px;
    border: rgb(100, 100, 255) solid 2px;
    margin: 20px;
}

/* 商品レビュー登録画面 */
.product_detail {
    display: flex;
    border-bottom: black solid 1px;
}

.product_detail span {
    margin: 0;
}

select#evaluation {
    width: 50px;
}

.form_row_comment {
    display: flex;
    margin: 20px 0;
}

.form_row_comment p {
    width: 200px;
    margin: 0 20px 0 0;
}

.list_submit {
    display: flex;
    text-decoration: none;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 255);
    color: white;
    border-radius: 10px;
    border: rgb(100, 100, 255) solid 2px;
    margin: 20px;
}

.detail_button_re button,
.detail_button_re a {
    display: flex;
    text-decoration: none;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(100, 100, 255);
    border-radius: 10px;
    border: blue solid 2px;
    margin: auto;
}

/* 商品レビュー一覧画面 */

.review_information {
    display: flex;
}

.review_information p {
    width: 200px;
}

.review_row {
    border-bottom: black solid 1px;
}

.product_comment {
    display: flex;
}

.product_comment p {
    width: 200px;
}

.header_button {
    display: flex;
}

/* マイページ */

.mypage_button {
    display: flex;
    justify-content: center;
}

.mypage_button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

/* 管理者ログイン画面 */
.admin_login {
    width: 150px;
    height: 50px;
    background-color: #2f5597;
    color: white;
    border-radius: 10px;
    margin: 30px 0;
}

/* 会員一覧 */

.search_form {
    border: black solid 1px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search_row {
    display: flex;
    align-items: center;
    border: black solid 1px;
}

.search_row p {
    width: 100px;
    margin: 0;
    padding: 10px;
    border-right: black solid 1px;
    background-color: #d8d8d8;
}

.search_row input {
    width: 300px;
    height: 20px;
    margin: 0 30px;
}

input#man,
input#woman {
    width: 30px;
}

.search_button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search_button input,
.search_button button {
    color: #4472c4;
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    border-color: #4472c4;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: black solid 1px;
    margin: 20px 0;

}

thead {
    background-color: #d8d8d8;
    border: black solid 1px;
}

th {
    border: black dotted 1px;
}

th a {
    text-decoration: none;
    color: black;
}

.list_regist {
    color: #ffffff;
    background-color: #4472c4;
    width: 200px;
    height: 50px;
    border-color: #4472c4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* 会員詳細画面 */
.detail_buttons a,
#delete input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4472c4;
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    border: #4472c4 solid 1px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
}